<h1>Edit new recipe</h1>
<form method = 'POST' action = '/recipes/<%=@recipe.id%>'>
<input id="hidden" type="hidden" name="_method" value="PATCH">
<label name='name'>name</lable>
<br>
<input id="name" type = 'text' name='recipe[name]' value="<%=@recipe.name%>"></input>
<br>
<br>
<label name='ingredients'>ingredients</lable>
<br>
<input id="ingredients" type = 'text' name='recipe[ingredients]' value="<%=@recipe.ingredients%>"></input>
<br>
<br>
<label name='cook_time'>cook time</lable>
<br>
<input id="cook_time" type = 'text' name='recipe[cook_time]' value="<%=@recipe.cook_time%>"></input>
<br>
<br>
<input type='submit' value="edit"/>
<br>
</form>