<h1>Create a New Recipe</h1>
<!-- WHEN CAN WE START STYLING PLEASE :( -->
<form action="/recipes" method="post">
  <h2>Name: <input type="text" name="name"></h2>
  <br>
  <h3>Ingredients: </h3>
  <textarea name="ingredients"></textarea>
  <br>
  <h3>Cooking Time: <input type="text" name="cook_time"></h3>
  <input type="submit" value="Submit">
</form>
