<h1> Add Recipe </h1> 
<form method="POST" action="/recipes">
    Recipe Name: <input name="name" type="text" /> <br>
    Ingredients: <input name="ingredients" type="text"/> <br>
    Cook Time: <input name="cook_time" type="text"/> <br>
    <input type="submit" value="SUBMIT"/>
</form> 